<div class="container">
  <div class="py-5 text-center">
    <h1>New Customer</h1>
  </div>
  <hr class="mb-4" />
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Customer details</h4>
      <form [formGroup]="_customerForm" (ngSubmit)="saveCustomer()" novalidate>
        <div class="row">
          <div class="col-md-8 mb-3">
            <label for="firstName">Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="fullName" name="fullName" formControlName="fullName"
              placeholder="" value="" required [ngClass]="{
                'is-invalid': _submitted && customerForm.fullName.errors
              }" />
            <div class="invalid-feedback" *ngIf="
                !customerForm.fullName?.valid &&
                (customerForm.fullName?.dirty || customerForm.fullName?.touched)
              ">
              <div [hidden]="!customerForm.fullName.errors.required">
                Name is required
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="zip">Phone<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" placeholder=""
              required [ngClass]="{ 'is-invalid': _submitted && customerForm.phone.errors }" />
            <div class="invalid-feedback" *ngIf="
                !customerForm.phone?.valid &&
                (customerForm.phone?.dirty || customerForm.phone?.touched)
              ">
              <div [hidden]="!customerForm.phone.errors.required">
                Please enter phone.
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="address">Address<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="address" name="address" formControlName="address" placeholder=""
            required [ngClass]="{ 'is-invalid': _submitted && customerForm.address.errors }" />
          <div class="invalid-feedback" *ngIf="
                !customerForm.address?.valid &&
                (customerForm.address?.dirty || customerForm.address?.touched)
              ">
            <div [hidden]="!customerForm.address.errors.required">
              Please enter address.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="state">State<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="state" name="state" formControlName="state" placeholder=""
              required [ngClass]="{ 'is-invalid': _submitted && customerForm.state.errors }" />
            <div class="invalid-feedback" *ngIf="
                !customerForm.state?.valid &&
                (customerForm.state?.dirty || customerForm.state?.touched)
              ">
              <div [hidden]="!customerForm.state.errors.required">
                Please enter state.
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="country">Country<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="country" name="country" formControlName="country" placeholder=""
              required [ngClass]="{ 'is-invalid': _submitted && customerForm.country.errors }" />
            <div class="invalid-feedback" *ngIf="
                !customerForm.country?.valid &&
                (customerForm.country?.dirty || customerForm.country?.touched)
              ">
              <div [hidden]="!customerForm.country.errors.required">
                Please enter country.
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-4" />
        <div class="row">
          <div class="col-md-6 mb-2">
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Save
            </button>
          </div>
          <div class="col-md-6 mb-3">
            <button class="btn btn-danger btn-lg btn-block" type="button">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>