<h2>Customers</h2>
<div>
  <button title="add customer" style="color: cornflowerblue" (click)="add()">
    add
  </button>
</div>
<ul>
  <table>
    <tr style="text-align: left">
      <th>Customer Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
    </tr>
    <tr *ngFor="let cust of _customers; let i = index">
      <td>{{ cust.customerName }}</td>
      <td>{{ cust.phone }}</td>
      <td>{{ cust.address1 }}</td>
      <td>{{ cust.city }}</td>
      <td>{{ cust.country }}</td>
      <td>
        <button
          title="edit customer"
          style="color: cornflowerblue"
          (click)="edit(cust.customerNumber)"
        >
          edit
        </button>
      </td>
      <td>
        <button
          title="delete customer"
          style="color: red"
          (click)="delete(cust.customerNumber)"
        >
          delete
        </button>
      </td>
    </tr>
  </table>
</ul>
