<h2>Customers</h2>
<ul>
  <!-- <li *ngFor="let cust of _customers; let i = index">
    <a routerLink="#{{ cust.customerNumber }}">
      <span class="badge">{{ i + 1 }}</span> {{ cust.customerName }}
    </a>
    <button class="delete" title="delete product">x</button>
  </li> -->
  <table>
    <tr style="text-align: left">
      <th>Customer Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
    </tr>
    <tr *ngFor="let cust of _customers; let i = index">
      <td>{{ cust.customerName }}</td>
      <td>{{ cust.phone }}</td>
      <td>{{ cust.address1 }}</td>
      <td>{{ cust.city }}</td>
      <td>{{ cust.country }}</td>
      <td>
        <button title="edit customer" style="color: cornflowerblue">
          edit
        </button>
      </td>
      <td>
        <button title="delete customer" style="color: red">delete</button>
      </td>
    </tr>
  </table>
</ul>
